@charset "utf-8";
@import "catpow.scss";

$siz-unit:.0625rem;

$colors:(
	//accent & main
	a:#E55A08,
	m:#E07D00,

	//background & sheet
	b:#fff,
	s:#f8f8f8,

	//text & inverted
	t:#666,
	i:#fff,

	//line & rules
	l:#666,
	r:#fff,

	//emphasiz & highlight
	e:#E55A08,
	h:#E07D00,

	//light & lust
	lt:rgba(255,255,255,.8),
	lst:rgba(255,255,255,.8),

	//shadow & shade
	sh:rgba(0,0,0,.1),
	shd:rgba(0,0,0,.2),
	
	n:transparent,
);

$mincho:("Noto Serif JP", serif);
$gothic:("Noto Sans JP", sans-serif);

$font-families:(
	g:$gothic,
	m:$mincho,
	h:$gothic,
	l:$gothic,
	p:$gothic,
	c:$gothic,
	d:$gothic,
	s:$gothic,
	e:("Roboto", sans-serif),
	i:'Material Icons'
);

$breakpoints:(
	+fhd:'min-width:1921px',
	-fhd:'max-width:1920px',
	+hd:'min-width:1281px',
	-hd:'max-width:1280px',
	+xga:'min-width:1025px',
	-xga:'max-width:1024px',
	+vga:'min-width:641px',
	-vga:'max-width:640px',
	+pc:'min-width:961px',
	-pc:'max-width:960px',
	+sp:'min-width:481px',
	-sp:'max-width:480px',
	d:'prefers-color-scheme: dark'
);